@font-face {
    font-family: 'tomkin-medium';
    src: url('../asset/fonts/tomkin-medium.woff2');
}
@font-face {
    font-family: 'tomkin-regular';
    src:url('../asset/fonts/tomkin-regular.woff2');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
h1 h2 h3 h4 h5 h6{
    font-family: 'tomkin-medium';
}
p a span li ul ol button input { 
    font-family: 'tomkin-regular';
}


#main-my-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-self: start;
    /* justify-content: center; */
    align-items: center;
}
.box-image-text {
    max-width: 300px;
    margin: 0 auto ;
    color: #000;
    background-color: aqua;
    text-align: center;
}
.small-box-recipes {
    border-radius: 10px;
    background-color: rgb(202, 202, 255);
    margin: 10px auto;
}
.my-images {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
/* img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 20px;
} */

/* @media screen and (min-width: 600px) {
    
} */

/* recipe detail page start */

.recipe-detail-image {
    display: flex;
    align-items: center;
}
.detail-page-image-1 {
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}
.recipe-detail-ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.recipe-detail-ingredients ul li {
    margin: 10px 0;
}
.recipe-detail-ingredients h3 {
    font-weight: bold;
}
.recipe-detail-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


/* recipe detail page end */
